/* Stile di base */
body {
    font-family: 'Poppins', sans-serif;
    background: url('https://via.placeholder.com') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: white;
    text-align: center;
}

/* Overlay scuro */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

/* Contenitore */
.container {
    position: fixed; /* Rende il contenitore fisso */
    top: 50%; /* Posiziona il contenitore al centro verticale */
    left: 50%; /* Posiziona il contenitore al centro orizzontale */
    transform: translate(-50%, -50%); /* Centra il contenitore */
    max-width: 400px; /* Larghezza massima del contenitore */
    width: 100%; /* Larghezza completa rispetto al contenitore */
    background-color: rgba(0, 0, 0, 0.750); /* Colore di sfondo */
    padding: 40px; /* Spaziatura interna */
    border-radius: 10px; /* Angoli arrotondati */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Ombra */
    animation: formFadeIn 1s ease-out; /* Animazione */
    z-index: 1000; /* Assicurati che sia sopra altri elementi */
}

/* Animazione */
@keyframes formFadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 600;
}

h2, p {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Immagine profilo */
.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 20px;
}

/* Pulsanti */
.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button {
    background-color: #000000;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #000000;
    transform: scale(1.05);
}

/* Spazio per l'inserimento del nuovo username */
.username-change {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Spazio tra input e pulsante */
    margin-bottom: 20px; /* Aggiunto spazio sotto "Aggiorna Username" */
}

.username-change input {
    width: 100%; /* Larghezza completa rispetto al contenitore */
    padding: 10px; /* Spazio interno per migliorare la leggibilità */
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}