/* Stile di base */
body {
    font-family: 'Poppins', sans-serif;
    background: url('https://via.placeholder.com/1920x1080') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: white;
    text-align: center;
}

/* Overlay scuro */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

/* Contenitore */
.container {
    max-width: 400px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(0, 0, 0);
    animation: formFadeIn 1s ease-out;
}

/* Animazione */
@keyframes formFadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 600;
}

h2, p {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Immagine profilo */
.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 20px;
}

/* Pulsanti */
.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #ffffff;
    transform: scale(1.05);
}

/* Spazio per l'inserimento del nuovo username */
.username-change {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centratura orizzontale degli elementi */
    gap: 10px; /* Spazio tra input e pulsante */
    margin-bottom: 20px; /* Aggiunto spazio sotto "Aggiorna Username" */
    width: 100%; /* Adatta al contenitore */
}

.username-change input {
    width: 100%; /* Larghezza completa rispetto al contenitore */
    padding: 12px; /* Spazio interno per migliorare la leggibilità */
    border: none;
    border-radius: 25px;
    font-size: 15px;
}