/* Stile di base */
body {
    font-family: 'Poppins', sans-serif;
    /* Immagine di sfondo */
    background: url('https://via.placeholder.com/1920x1080') no-repeat center center fixed;
    background-size: cover; /* Rende l'immagine di sfondo adattabile alla finestra */
    height: 100vh; /* Imposta l'altezza della pagina per coprire tutta la finestra */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: white;
    text-align: center;
}

/* Overlay scuro per migliorare la leggibilità */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Overlay scuro */
    z-index: -1;
}

/* Contenitore del testo e dei pulsanti */
.container {
    max-width: 400px;
    width: 100%;
    background-color: #000000; /* Fondo semi-trasparente */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    animation: formFadeIn 1s ease-out;
}

/* Animazione di fade in */
@keyframes formFadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 600;
}

/* Sottotitolo */
h2 {
    font-size: 22px;
    margin-bottom: 40px;
    font-weight: 300;
}

/* Contenitore per i pulsanti */
.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Stile per i pulsanti */
.button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 15px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #ffffff;
    transform: scale(1.05);
}

/* Responsive design */
@media screen and (max-width: 600px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 20px;
    }

    .button {
        font-size: 16px;
        padding: 12px;
    }
}
